

{% extends "layout.html" %}
{% block body %}
 
<div class="block1">
	<h1 style="color: #5e9ca0;"><span style="color: #000080;">Computer Vision with Flask</span></h1>
		<h2 style="color: #2e6c80;"><span style="color: #000080;">Select your interest:</span></h2>
		<ul style="list-style-position: initial; list-style-image: initial; font-size: 14px; line-height: 32px; font-weight: bold;">
			<li style="clear: both;"><span style="color: #ff6600;"><a style="color: #ff6600;" href="/upload_image">Upload new image</a></span></li>
			<li style="clear: both;"><span style="color: #ff6600;"><a style="color: #ff6600;" href="/cam_rec">New webcam capture</a></span></li>
		</ul>
	<p><strong>&nbsp;</strong></p>
</div>
{% endblock %}
