<html>
<head>
    <title>Computer Vision with Flask</title>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, public, max-age=0" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: left;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}
 
</style>
 
</head>
<body>
 {% block body %}{% endblock %}
 
</body>
</html>
